[user]
  name = Martin Migasiewicz
  email = 616250+martinm82@users.noreply.github.com
[core]
  editor = vim
  excludesfile = ~/.gitignore
  whitespace = trailing-space,space-before-tab
  ignorecase = false
  filemode = true
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = true
[web]
  browser = google-chrome
[credential]
  helper = cache --timeout=10000000
[push]
  default = simple
[merge]
  tool = p4merge
[difftool]
  prompt = false
[diff]
  renamelimit = 10000
  submodule = log
[format]
  subjectprefix = PATCH
  suffix = .txt
  numbered = auto
[alias]
  co = checkout
  cp = cherry-pick
  ci = commit -s
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  sta = status
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  shortlog = format:%C(auto,yellow)%h%C(auto,magenta)% G? %C(auto,blue)%>(12,trunc)%ad %C(auto,green)%<(7,trunc)%aN%C(auto,reset)%s%C(auto,red)% gD% D
  lom = log --pretty=format:'%C(white)[%H]%C(green)[%ad]%C(yellow) %<(20)%aN%C(white)%s' --date=short --first-parent
  pushforce = !REMOTE=$(git remote-name) && git push $REMOTE :$(git branch-name) && git push --set-upstream $REMOTE $(git branch-name)
  standup = log --since "yesterday" --oneline --branches=* --author="$(git config user.name)"
  br = branch --sort=-committerdate

[mergetool]
  prompt = false
  keepBackup = false
[mergetool "p4merge"]
  path = /usr/local/bin/p4merge
[gui]
  fontui = -size 11 -weight normal -slant roman -underline 0 -overstrike 0
  fontdiff = -size 10 -weight normal -slant roman -underline 0 -overstrike 0
[commit]
  gpgsign = true
[tag]
  gpgsign = true
[gpg]
  program = gpg
[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
[rebase]
  autosquash = true
[submodule]
  recurse = true
[init]
  templatedir = ~/.git-templates
